<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>BBS</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>
  <div class="container-fluid">
    <form action="/new" method="post">
      <p>数値：<input type="text" name="data"></p>
      <p><input type="submit" value="投稿"></p>
    </form>
    
    <table class="table table-bordered">
      <tr>
      <% @gamedata1.each.with_index(1) do |data,index| %>
        <!--data.dataの値によって現在のマスの色を変える-->
        <% if data.data == 1 then %>
        <td>白</td>
        <% elsif data.data == 2 then %>
        <td>黒</td>
        <% else %>
        <td>灰</td>
        <% end %>
      <%= index %>
      <% end %>
      </tr>

      <tr>
        <% @gamedata2.each.with_index(1) do |data,index| %>
        <!--data.dataの値によって現在のマスの色を変える-->
        <% if data.data == 1 then %>
        <td>白</td>
        <% elsif data.data == 2 then %>
        <td>黒</td>
        <% else %>
        <td>灰</td>
        <% end %>
        <%= index %>
        <% end %>
      </tr>

    </table>
  </div>
</body>
</html>
