        <% if pattern == 1 then %>
        <table class="table table-bordered" id="next_blocks">
          <tr>
            <td class="black" id="1"></td>
            <td class ="gray" id="2"></td>
            <td class="gray" id="3"></td>
          </tr>
          <tr>
            <td class="black" id="4"></td>
            <td class ="gray" id="5"></td>
            <td class="gray" id="6"></td>
          </tr>
          <tr>
            <td class="gray" id="7"></td>
            <td class ="black" id="8"></td>
            <td class="black font_white" id="9">■</td>
          </tr>
        </table>
        <% end %>
