body {
    background: url("../img/back.png");
    color: white;
}
.center {
    margin: 20px auto;
}
.center img {
    width: auto;
    height: 25px;
}

.table {
    width: 400px;
    height: 400px;
    margin: 10px auto 0;
}
.table td {
    width: 10%;
    height: 10%;
}

.table .white {
    background-color: white;
}

.table .black {
    background-color: black;
}
.table .gray {
    /*background-color: gray;*/
}
div.row{
    margin: 20px auto;
    height: auto;
}
div.next_blocks table {
    width: auto;
    height: auto;
    margin: 20px;
}
div.next_blocks table td{
    width: 40px;
    height: 40px;
}