body {
    background: url("../img/back.png");
}
.center {
    margin: 10px auto;
}
.center img {
    width: auto;
    height: 25px;
}

.table {
    width: 400px;
    height: 400px;
    margin: 0 auto;
}
.table td {
    width: 10%;
    height: 10%;
}

.table .white {
    background-color: white;
}

.table .black {
    background-color: black;
}
.table .gray {
    /*background-color: gray;*/
}
div.row{
    margin: 20px auto 0;
    height: auto;
}
div.next_blocks img {
    width: auto;
    height: 20px;
}
div.remaining_turn img {
    width: auto;
    height: 20px;
}
div.remaining_turn h3 {
    padding-left: 15px;
}
div.next_blocks table {
    width: auto;
    height: auto;
    margin: 20px;
}
div.next_blocks table td{
    width: 40px;
    height: 40px;
    text-align: center;
}
.font_black {
    color: black;
}
.font_white {
    color: white;
}